<% layout('layouts/boilerplate') %>

    <h1 id='ajax'>Ajax testing</h1>

    <button onclick="myFunction()" type="button" class="btn btn-primary">Primary</button>

    <script>
        function myFunction() {

            


            let userInput = 'dwarf';
            console.log("made it!")
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", '/ajax/', true);
            xmlhttp.setRequestHeader('userInput', userInput)
            xmlhttp.send();

        }
    </script>