<% layout('layouts/boilerplate') %> 

<h2>Home</h2>

<p>Thanks for taking the time to take a look at my little project. This has been something I have been working on while working full time, and learning Javascript, NodeJS, and ExpressJS. While code very obviously needs to be fixed at points I'm fairly proud of whwere I 
    on it, I wanted to finally show something off. This code is functional, but I wanted to finally get to a stopping point where I can go back to fix some things that have been bothering me mainly with the public JS folder which is the card-subtitle
    of a lot of pain points at times.  
</p>

<p>
    While I hope you enjoy taking a look I will be going back over much of this code, and hope you will check back soon.
</p>
