<div id="toggleAbilityScoreNumbers" class="btn-group">
    <input onclick="setAbilityScoreType('standard')" type="radio" class="btn-check" name="standardArray" id="option1"
        autocomplete="off" checked>
    <label class="btn btn-secondary" for="option1">Standard Array</label>


    <input onclick="setAbilityScoreType('pointBuy')" type="radio" class="btn-check" name="pointBuy" id="option2"
        autocomplete="off">
    <label class="btn btn-secondary" for="option2">Point Buy</label>


    <input onclick="setAbilityScoreType(none)" type="radio" class="btn-check" name="options" id="option3"
        autocomplete="off" disabled>
    <label class="btn btn-secondary" for="option3">Manual</label>


    <input onclick="setAbilityScoreType(none)" type="radio" class="btn-check" name="options" id="option4"
        autocomplete="off" disabled>
    <label class="btn btn-secondary" for="option4">Custom Array</label>
</div>

<div id="inputAbilityScoreDisplayStandard" class="container">
    <div class="row">
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectStr">Strength</label>
            <select name="str" onchange="removeStandardavailible(this)" onfocus="updateStandardList(this)" id='floatingSelectStr' class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="col-md-4">
            <label class='text-center' for="floatingSelectDex">Dexterity</label>
            <select name="dex" onchange="removeStandardavailible(this)" onfocus="updateStandardList(this)" id='floatingSelectDex' class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectCon">Constitution</label>
            <select name="con" onchange="removeStandardavailible(this)" onfocus="updateStandardList(this)" id='floatingSelectCon' class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectInt">Intelligence</label>
            <select name="int" onchange="removeStandardavailible(this)" onfocus="updateStandardList(this)" id='floatingSelectInt' class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectCha">Charisma</label>
            <select name="cha" onchange="removeStandardavailible(this)" onfocus="updateStandardList(this)" id='floatingSelectCha' class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectWis">Wisdom</label>
            <select name="wis" onchange="removeStandardavailible(this)" onfocus="updateStandardList(this)" id='floatingSelectWis' class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
</div>

<div id="inputAbilityScoreDisplayPointBuy" class="container">
    <div class="row">
        <div class="row">
            <h1 class="display-5 text-center">Points Remaining</h1>
            <h1 id="pointBuyScore" class="display-6 text-center">27/27</h1>

        </div>
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectStr">Strength</label>
            <input onfocus="this.oldValue = this.value;" onchange="updatePoints(this);this.oldValue = this.value;" min=8 max=20 value=8 type="number" id="typeNumber" class="form-control" />
        </div>

        <div class="col-md-4">
            <label class='text-center' for="floatingSelectDex">Dexterity</label>
            <input onfocus="this.oldValue = this.value;" onchange="updatePoints(this);this.oldValue = this.value;" min=8 max=20 value=8 type="number" id="typeNumber" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectCon">Constitution</label>
            <input onfocus="this.oldValue = this.value;" onchange="updatePoints(this);this.oldValue = this.value;" min=8 max=20 value=8 type="number" id="typeNumber" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectInt">Intelligence</label>
            <input onfocus="this.oldValue = this.value;" onchange="updatePoints(this);this.oldValue = this.value;" min=8 max=20 value=8 type="number" id="typeNumber" class="form-control" />

        </div>
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectCha">Charisma</label>
            <input onfocus="this.oldValue = this.value;" onchange="updatePoints(this);this.oldValue = this.value;" min=8 max=20 value=8 type="number" id="typeNumber" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class='text-center' for="floatingSelectWis">Wisdom</label>
            <input onfocus="this.oldValue = this.value;" onchange="updatePoints(this);this.oldValue = this.value;" min=8 max=20 value=8 type="number" id="typeNumber" class="form-control" />
        </div>
    </div>
</div>